@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #fce5cd;
    background-image: linear-gradient(
        to bottom, 
        #fce5cd 0%,
        #fce5cd 50%,
        #ff80ed 50%, 
        #ff80ed 100% 
        );
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
nav{
    background-color: #fff;
    padding: 20px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
}
nav.active{
    width: 350px;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width 0.6s linear;
}
nav.active ul{
    width: 100%;
}
nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}
nav.active li{
    opacity: 1;
    transform: rotateY(360deg)
}
nav ul a{
    position: relative;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}